In [10]:
import pandas as pd
Teams = pd.read_csv('datasets/dim_match_summary.csv')

In [11]:
Teams = Teams['winner'].unique()
Teams = pd.DataFrame(Teams)

In [12]:
Teams.columns = ['team_name']
Teams

  team_name
0       CSK
1       KKR
2       RCB
3        MI
4      PBKS
5       SRH
6        DC
7        RR
8        GT
9       LSG

In [13]:
Teams['Logo'] = Teams['team_name'].apply(lambda name : f'https://scores.iplt20.com/ipl/teamlogos/{name}.png')
Teams

  team_name                                              Logo
0       CSK   https://scores.iplt20.com/ipl/teamlogos/CSK.png
1       KKR   https://scores.iplt20.com/ipl/teamlogos/KKR.png
2       RCB   https://scores.iplt20.com/ipl/teamlogos/RCB.png
3        MI    https://scores.iplt20.com/ipl/teamlogos/MI.png
4      PBKS  https://scores.iplt20.com/ipl/teamlogos/PBKS.png
5       SRH   https://scores.iplt20.com/ipl/teamlogos/SRH.png
6        DC    https://scores.iplt20.com/ipl/teamlogos/DC.png
7        RR    https://scores.iplt20.com/ipl/teamlogos/RR.png
8        GT    https://scores.iplt20.com/ipl/teamlogos/GT.png
9       LSG   https://scores.iplt20.com/ipl/teamlogos/LSG.png

In [15]:
Teams.to_csv('Team LOGO.csv')